language: node_js
node_js:
  - 12.18.2

install:
  - npm install

script:
  - npm test

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  on:
    branch: master
    
addons:
  chrome: stable